tensorflow==1.13.1
spacy==2.0.16
appdirs==1.4.3
defusedxml==0.4.1
dj-database-url==0.2.2
dj-static==0.0.5
Django==2.1.7
djangorestframework==3.9.2
funcsigs==1.0.2
gunicorn==18.0
Keras==2.2.4
mock==2.0.0
Markdown==2.6.8
nltk==3.4
gensim==3.4.0
absl-py==0.4
astor==0.7.1
bleach==3.1.1
certifi==2018.4.16
chardet==3.0.4
cymem==2.0.2
dill==0.2.7.1
ftfy==4.4.3
gast==0.2.0
html5lib==0.9999999
idna==2.6
msgpack==0.5.6
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
packaging==18.0
path.py==10.3.1
pbr==3.0.0
pickleshare==0.5
protobuf==3.8.0
PyJWT==1.5.2
pyparsing==2.2.0
pystache==0.5.3
scikit-learn==0.20.2
scipy==1.1.0
six==1.11
sklearn==0.0
static==1.0.2
Theano==0.9.0
Werkzeug==0.12.1
pathlib==1.0.1
plac==0.9.6
python-dateutil==2.7.2
pytz==2018.4
regex==2018.01.10
requests==2.20
termcolor==1.1.0
tqdm==4.23.1
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.10.11
futures==2.2.0
backports.weakref==1.0rc1
pandas==0.24.2
Twisted==19.2.1
rasa-nlu==0.14.6